.centrado {
  display: flex;
  justify-content: center;
  padding: 80px;
  height: 100vh;
}

.centrar {
  text-align: center;
}

.form-control {
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  padding: 15px;
  -webkit-tap-highlight-color: transparent;
}

.btng {
  -webkit-border-radius: 2px;
  -webkit-user-select: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #17223b;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;

  line-height: 35px;
}

.btng:hover {
  color: black;
  text-decoration: none;
}
