/* ul.server-list {
  background: green;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
} */
/*  gap: 1rem; */

.columnas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
